
<h1><%= @discipline.name %></h1>

<p><%= @discipline.description %></p>

<p>
  <%= link_to 'Редактировать', edit_discipline_path(@discipline) %> |
  <%= link_to 'Удалить', @discipline, method: :delete, data: { confirm: 'Вы уверены?' } %> |
  <%= link_to 'Список материалов', discipline_materials_path(@discipline) %>
</p>

<%= link_to 'Вернуться к списку дисциплин', disciplines_path %>