<h1><%= @material.name %></h1>
 
<p><%= @material.description %></p>
 
<p>
  <strong>Время добавления:</strong>
  <%= @material.created_at.strftime('%d/%m/%Y %H:%M:%S') %>
</p>

<p>
  <%= link_to 'Скачать файл', @material.file_url, target: '_blank' %>
</p>

<p>
  <%= link_to 'Редактировать', edit_discipline_material_path(@discipline, @material) %> |
  <%= link_to 'Удалить', discipline_material_path(@discipline, @material), method: :delete, data: { confirm: 'Вы уверены?' } %> |
  <%= link_to 'Вернуться к списку материалов', discipline_materials_path(@discipline) %>
</p>
 
<%= link_to 'Вернуться к дисциплине', discipline_path(@discipline) %>